<h1>Edit Veterinario</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.veterinario_path(@conn, :update, @veterinario)) %>

<span><%= link "Back", to: Routes.veterinario_path(@conn, :index) %></span>
